body {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(bilder/backgroundeffect.jpg);
    font-family: "Lexend", sans-serif;
    width: 100vw;
    color: white;
   background-size: cover;
}

.navbar:hover { 
    transform: scale(1.1);
    transition: all 0.3s ;
}

.navbar {
    transition: all 0.3s ease-in-out;
}

.booknow:hover { 
    transform: scale(1.05);
    transition: all 0.3s ;
}


nav {
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
ul {
    display: flex;
padding: 0%;
    gap: 2rem;
     list-style: none;
}


.booknow {
    font-size: 7px;
    background-color: white;
    padding: 3px;
    padding-inline: 10px;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.navtext { 
   
    text-decoration: none;
    color: white;
    font-family: "Lexend", sans-serif;
}

.logo {
    width: 80px;
    margin: 0;
}

header {
   margin-top: 50px;
    margin-left: 43px;
    width: 100vw;
   font-size: 12px;
   display: flex;
  justify-content: center;
  text-align: center;
 align-items: center;

}

.pixel {
    margin-top: 40px;
    height: 50px;
}

.text {
    align-items: center;
   align-content: center;
   flex-direction: column;
}

.catchy {
    margin-top: 4rem;
    margin-bottom: 0px;
}



.pixeleffect {
    width: 80px;
}


.undercatchy {
    margin-top: 6px;
}